# Import Training Data, Add Labels, Check

In [1]:
#add labels, print dataframes to check
import pandas as pd
import numpy as np
train_map = pd.read_csv('train.map', header = None, delimiter=' ', names= ['labels', 'label_id'])
train_data = pd.read_csv('train.data', header = None, delimiter=' ', names=['doc_id', 'word_id', 'count'] )
train_label = pd.read_csv('train.label', header = None, delimiter=' ', names= ['label_id'])
train_label=train_label.reset_index()
train_label.columns = ['doc_id', 'label_id']
#add one to the doc ID so that there are no zeroes
train_label['doc_id']=train_label['doc_id']+1
print train_map[:10]
print train_data[:10]
train_label

                     labels  label_id
0               alt.atheism         1
1             comp.graphics         2
2   comp.os.ms-windows.misc         3
3  comp.sys.ibm.pc.hardware         4
4     comp.sys.mac.hardware         5
5            comp.windows.x         6
6              misc.forsale         7
7                 rec.autos         8
8           rec.motorcycles         9
9        rec.sport.baseball        10
   doc_id  word_id  count
0       1        1      4
1       1        2      2
2       1        3     10
3       1        4      4
4       1        5      2
5       1        6      1
6       1        7      1
7       1        8      1
8       1        9      3
9       1       10      9

       doc_id  label_id
0           1         1
1           2         1
2           3         1
3           4         1
4           5         1
5           6         1
6           7         1
7           8         1
8           9         1
9          10         1
10         11         1
11         12         1
12         13         1
13         14         1
14         15         1
15         16         1
16         17         1
17         18         1
18         19         1
19         20         1
20         21         1
21         22         1
22         23         1
23         24         1
24         25         1
25         26         1
26         27         1
27         28         1
28         29         1
29         30         1
...       ...       ...
11239   11240        20
11240   11241        20
11241   11242        20
11242   11243        20
11243   11244        20
11244   11245        20
11245   11246        20
11246   11247        20
11247   11248        20
11248   11249        20
11249   11250        20
11250   11251        20
11251   11252        20
11252   11253        20
11253   11254        20
11254   11255        20
11255   11256        20
11256   11257        20
11257   11258        20
11258   11259        20
11259   11260        20
11260   11261        20
11261   11262        20
11262   11263        20
11263   11264        20
11264   11265        20
11265   11266        20
11266   11267        20
11267   11268        20
11268   11269        20

[11269 rows x 2 columns]

# Merge Training Data Tables

# Get Total Doc Count & Docs Per Class

In [3]:
#Get total document count by searching the unique values, this could also be done by taking max of the ID 
total_doc_count= train_data_joined['doc_id'].unique().shape

# Count number of docs for each class
docs_per_class=train_data_joined.groupby('label_id').doc_id.nunique()

# Calculate Pi for Classes

In [4]:
# Calculate Pi for Each Class, this is the number of documents in a class/total number of docs
df_docs_frac_per_class=np.log(train_data_joined.groupby('label_id').doc_id.nunique()/total_doc_count)
pi_values=df_docs_frac_per_class.reset_index()
pi_values.columns=['label_id','log_pi']
#pi_values

# Calculate Total Words Per Label

In [5]:
words_per_class=train_data_joined[['label_id','count']].groupby('label_id').sum().reset_index()
words_per_class.columns=['label_id','words_per_label']
#words_per_class

# Calculate Total Words Per Doc

In [6]:
sum_words_per_doc=train_data_joined.groupby(['label_id','word_id'])['count'].sum().reset_index()
sum_words_per_doc.head(5)

   label_id  word_id  count
0         1        1     13
1         1        2     63
2         1        3    275
3         1        4      9
4         1        5     82

# Set Up Training Data Probability Distribution (Pj)

# SACHIN: THIS IS WHERE I'M HAVING ISSUES, I NEED TO THE PANDAS DATAFRAME UNSTACKED AND THE REST SHOULD WORK

In [23]:
len(train_label)

11269

In [130]:
#count of a specific word in the same class/total number of words in each class
#Alpha value for smoothing
a = 0.001

#Calculate probability of each word based on the class
pb_j=train_data_joined.groupby('label_id')
pb_ij=train_data_joined[['label_id','word_id','count']].groupby(['label_id','word_id'])
prob =  (pb_ij['count'].sum() + 1) / (pb_j['count'].sum() + 61188) 
k=prob.unstack()
k2=k.fillna(1.0/61188)
k3=k2.stack()
prob_distr=k3.reset_index()
prob_distr.columns=['label_id','word_id','log(prob)']
prob_distr

         label_id  word_id  log(prob)
0               1        1   0.000067
1               1        2   0.000305
2               1        3   0.001314
3               1        4   0.000048
4               1        5   0.000395
5               1        6   0.000200
6               1        7   0.000033
7               1        8   0.000010
8               1        9   0.000167
9               1       10   0.000671
10              1       11   0.000019
11              1       12   0.019443
12              1       13   0.000081
13              1       14   0.000090
14              1       15   0.000200
15              1       16   0.002662
16              1       17   0.001057
17              1       18   0.000052
18              1       19   0.000038
19              1       20   0.000057
20              1       21   0.000010
21              1       22   0.000010
22              1       23   0.012990
23              1       24   0.000019
24              1       25   0.001452
25              1       26   0.000010
26              1       27   0.006152
27              1       28   0.000081
28              1       29   0.034114
29              1       30   0.012800
...           ...      ...        ...
1079470        20    53946   0.000011
1079471        20    53947   0.000011
1079472        20    53948   0.000017
1079473        20    53949   0.000022
1079474        20    53950   0.000011
1079475        20    53951   0.000011
1079476        20    53952   0.000011
1079477        20    53953   0.000011
1079478        20    53954   0.000011
1079479        20    53955   0.000011
1079480        20    53956   0.000017
1079481        20    53957   0.000017
1079482        20    53958   0.000039
1079483        20    53959   0.000011
1079484        20    53960   0.000011
1079485        20    53961   0.000017
1079486        20    53962   0.000011
1079487        20    53963   0.000017
1079488        20    53964   0.000011
1079489        20    53965   0.000017
1079490        20    53966   0.000011
1079491        20    53967   0.000011
1079492        20    53968   0.000017
1079493        20    53969   0.000011
1079494        20    53970   0.000011
1079495        20    53971   0.000011
1079496        20    53972   0.000011
1079497        20    53973   0.000011
1079498        20    53974   0.000011
1079499        20    53975   0.000011

[1079500 rows x 3 columns]

In [28]:
# #add one for all of the null values as (1/count+V+1)
# for c in range(1,21):
#     prob_distr.loc[c,:] = prob_distr.loc[c,:].fillna(a/(pb_j['count'].sum()[c] + 16689))
    
# #Convert to dictionary for greater speed
# prob_distr_dict = prob_distr.to_dict()

# #prob_distr=prob_distr.reset_index()
# x=prob_distr.unstack
# x
# ###### I NEED X AS IT IS HERE Reindexed, But I cant save the instance Method

<bound method DataFrame.unstack of          label_id  word_id         0
0               1        1  0.000067
1               1        2  0.000305
2               1        3  0.001314
3               1        4  0.000048
4               1        5  0.000395
5               1        6  0.000200
6               1        7  0.000033
7               1        8  0.000010
8               1        9  0.000167
9               1       10  0.000671
10              1       11  0.000019
11              1       12  0.019443
12              1       13  0.000081
13              1       14  0.000090
14              1       15  0.000200
15              1       16  0.002662
16              1       17  0.001057
17              1       18  0.000052
18              1       19  0.000038
19              1       20  0.000057
20              1       21  0.000010
21              1       22  0.000010
22              1       23  0.012990
23              1       24  0.000019
24              1       25  0.001452
25              1       26  0.000010
26              1       27  0.006152
27              1       28  0.000081
28              1       29  0.034114
29              1       30  0.012800
...           ...      ...       ...
1079470        20    53946  0.000011
1079471        20    53947  0.000011
1079472        20    53948  0.000017
1079473        20    53949  0.000022
1079474        20    53950  0.000011
1079475        20    53951  0.000011
1079476        20    53952  0.000011
1079477        20    53953  0.000011
1079478        20    53954  0.000011
1079479        20    53955  0.000011
1079480        20    53956  0.000017
1079481        20    53957  0.000017
1079482        20    53958  0.000039
1079483        20    53959  0.000011
1079484        20    53960  0.000011
1079485        20    53961  0.000017
1079486        20    53962  0.000011
1079487        20    53963  0.000017
1079488        20    53964  0.000011
1079489        20    53965  0.000017
1079490        20    53966  0.000011
1079491        20    53967  0.000011
1079492        20    53968  0.000017
1079493        20    53969  0.000011
1079494        20    53970  0.000011
1079495        20    53971  0.000011
1079496        20    53972  0.000011
1079497        20    53973  0.000011
1079498        20    53974  0.000011
1079499        20    53975  0.000011

[1079500 rows x 3 columns]>

# Import Test Data

In [29]:
test_map = pd.read_csv('test.map', header = None, delimiter=' ', names= ['test_labels', 'test_label_id'])
test_data = pd.read_csv('test.data', header = None, delimiter=' ', names=['test_doc_id', 'test_word_id', 'test_count'] )
test_label = pd.read_csv('test.label', header = None, delimiter=' ', names= ['test_label_id'])
test_label=test_label.reset_index()
test_label.columns = ['test_doc_id', 'label_id']
print test_map.head(5)
print test_data.head(5)
test_label.head(5)

                test_labels  test_label_id
0               alt.atheism              1
1             comp.graphics              2
2   comp.os.ms-windows.misc              3
3  comp.sys.ibm.pc.hardware              4
4     comp.sys.mac.hardware              5
   test_doc_id  test_word_id  test_count
0            1             3           1
1            1            10           1
2            1            12           8
3            1            17           1
4            1            23           8

   test_doc_id  label_id
0            0         1
1            1         1
2            2         1
3            3         1
4            4         1

# Merge Test Data

In [30]:
#test_label['test_doc_id']=test_label['test_doc_id']
merged_test_data = pd.merge( test_label, test_data, on='test_doc_id', how="inner")
merged_test_data.head(5)

   test_doc_id  label_id  test_word_id  test_count
0            1         1             3           1
1            1         1            10           1
2            1         1            12           8
3            1         1            17           1
4            1         1            23           8

# Probability of Training Data

# Get Single Test Document for Testing

In [31]:
df=merged_test_data.loc[merged_test_data['test_doc_id']==1];
df.columns = df.columns.str.replace('test_word_id','word_id')
#sum_words_per_doc=df.groupby(['word_id','doc_id'])['count'].sum().reset_index()
sum_words_per_doc.head(5)
df.head(5)

   test_doc_id  label_id  word_id  test_count
0            1         1        3           1
1            1         1       10           1
2            1         1       12           8
3            1         1       17           1
4            1         1       23           8

# Setup Bayesian Algorithm: Map Probability for a Doc that Belongs to Each Class
#1) Match on Doc ID, #2 Pull Out Label ID, Probability Word Belongs to that class, and count of word occurence in document; sort by word ID so you can see the map of each word mapping to each class #3 multiply words to get prior probability #4 sum prior probability over each class (it can be added due to the log). #5 raname so that ID's line up and pie values for each class can be multiplied #6 add up the pi with the prior prob, can add because of the log values #7 Answer gives the probability that the document belongs to each class
#Log(Probability(word/class)^N,words)summed

In [32]:
single_doc_dist= pd.merge(prob_distr,df, on='word_id')
single_doc_dist= single_doc_dist[['label_id_x','word_id','log(prob)','test_count']].sort_values(['word_id','label_id_x'])
single_doc_dist ['prior_prob']= single_doc_dist['test_count']*single_doc_dist['log(prob)']
single_doc_dist=single_doc_dist.groupby(['label_id_x'])['prior_prob'].sum().round(3).reset_index()
single_doc_dist.columns=['label_id','prior_prob']
single_doc_dist = pd.merge (single_doc_dist,pi_values, on='label_id' )
single_doc_dist['probability']=single_doc_dist['prior_prob']+single_doc_dist['log_pi']
single_doc_dist

KeyError: "['log(prob)'] not in index"

In [ ]:
single_doc_dist['probability'].idxmax()+1

# Setup Function to Classify One Document

In [ ]:
def SingleDoc_NaiveBayesClassifier(doc):
    df=merged_test_data.loc[merged_test_data['test_doc_id']==doc];
    df.columns = df.columns.str.replace('test_word_id','word_id')
    ###### Copy below this line, above is for the function
    single_doc_dist= pd.merge(prob_distr,df, on='word_id')
    single_doc_dist= single_doc_dist[['label_id_x','word_id','log(prob)','test_count']].sort_values(['word_id','label_id_x'])
    single_doc_dist ['prior_prob']= single_doc_dist['test_count']*single_doc_dist['log(prob)']
    single_doc_dist=single_doc_dist.groupby(['label_id_x'])['prior_prob'].sum().round(3).reset_index()
    single_doc_dist.columns=['label_id','prior_prob']
    single_doc_dist = pd.merge (single_doc_dist,pi_values, on='label_id' )
    single_doc_dist['probability']=single_doc_dist['prior_prob']+single_doc_dist['log_pi']
    class_rating = single_doc_dist['probability'].idxmax()+1
    print class_rating
SingleDoc_NaiveBayesClassifier(2)

# Setup New Classifier Function for All Words

# Sachin, I would like to finish this tomorrow, I cant find the error that is 
# giving 100% accuracy.

In [76]:
def NaiveBayesClassifier(df):
    df_all= df
    df_all.columns = df_all.columns.str.replace('test_word_id','word_id')
    all_doc_dist= pd.merge(prob_distr,df_all, on=['label_id','word_id'])
    all_doc_dist= all_doc_dist[['label_id','word_id','log(prob)','test_count','test_doc_id']].sort_values(['word_id','label_id'])
    all_doc_dist ['prior_prob']= all_doc_dist['test_count']*all_doc_dist['log(prob)']
    all_doc_dist=all_doc_dist.groupby(['test_doc_id','label_id'])['prior_prob'].sum().reset_index()
    all_doc_dist.columns=['test_doc_id','label_id','prior_prob']
    all_doc_dist = pd.merge (all_doc_dist,pi_values, on='label_id' )
    all_doc_dist['probability']=all_doc_dist['prior_prob']+all_doc_dist['log_pi']
    classified_dataframe= all_doc_dist.sort_values('probability', ascending=False).groupby('test_doc_id', as_index=False).first()
    classified_dataframe= classified_dataframe[['test_doc_id','label_id']]
    return classified_dataframe
classified_dataframe=NaiveBayesClassifier(merged_test_data)
# print classified_dataframe
classified_dataframe

      test_doc_id  label_id
0               1         1
1               2         1
2               3         1
3               4         1
4               5         1
5               6         1
6               7         1
7               8         1
8               9         1
9              10         1
10             11         1
11             12         1
12             13         1
13             14         1
14             15         1
15             16         1
16             17         1
17             18         1
18             19         1
19             20         1
20             21         1
21             22         1
22             23         1
23             24         1
24             25         1
25             26         1
26             27         1
27             28         1
28             29         1
29             30         1
...           ...       ...
7474         7475        20
7475         7476        20
7476         7477        20
7477         7478        20
7478         7479        20
7479         7480        20
7480         7481        20
7481         7482        20
7482         7483        20
7483         7484        20
7484         7485        20
7485         7486        20
7486         7487        20
7487         7488        20
7488         7489        20
7489         7490        20
7490         7491        20
7491         7492        20
7492         7493        20
7493         7494        20
7494         7495        20
7495         7496        20
7496         7497        20
7497         7498        20
7498         7499        20
7499         7500        20
7500         7501        20
7501         7502        20
7502         7503        20
7503         7504        20

[7504 rows x 2 columns]

# Test Accuracy of Classifier

In [81]:
test_label.columns = ['doc_id', 'test_label_id']
classified_dataframe.columns = ['doc_id', 'predicted_label_id']
guess_to_real= pd.merge(classified_dataframe,test_label, on='doc_id')

In [92]:
guess_to_real['err']=guess_to_real.apply(lambda row:row['predicted_label_id']-row['test_label_id'], axis=1)

In [96]:
np.unique(guess_to_real['err'])

array([0])

In [129]:
vocab_list = pd.read_csv('vocabulary.txt', header = None, delimiter=' ', names= ['vocab'])
vocab_list

                 vocab
0              archive
1                 name
2              atheism
3            resources
4                  alt
5                 last
6             modified
7             december
8              version
9              atheist
10           addresses
11                  of
12       organizations
13                 usa
14             freedom
15                from
16            religion
17          foundation
18              darwin
19                fish
20              bumper
21            stickers
22                 and
23            assorted
24               other
25       paraphernalia
26                 are
27           available
28                 the
29                  in
...                ...
61158       sectarians
61159          talmage
61160      preexistent
61161             exod
61162  tetragrammation
61163           triune
61164             adon
61165          atoning
61166          tidings
61167           maketh
61168        spreadeth
61169         bhagwans
61170          anchovy
61171      vanishingly
61172         ktikkane
61173           ramses
61174          orontes
61175        chariotry
61176             amun
61177            deist
61178         devoutly
61179           smugly
61180         tartaros
61181          bibical
61182           tophet
61183        aeroplane
61184           gosple
61185            ephas
61186         kltensme
61187           etrbom

[61188 rows x 1 columns]

In [ ]:
#Vocab=61188
#Vocab*20=1223760
#