# Import Training Data, Add Labels, Check

In [2]:
#add labels, print dataframes to check
import pandas as pd
import numpy as np
train_map = pd.read_csv('train.map', header = None, delimiter=' ', names= ['labels', 'label_id'])
train_data = pd.read_csv('train.data', header = None, delimiter=' ', names=['doc_id', 'word_id', 'count'] )
train_label = pd.read_csv('train.label', header = None, delimiter=' ', names= ['label_id'])
train_label=train_label.reset_index()
train_label.columns = ['doc_id', 'label_id']
#add one to the doc ID so that there are no zeroes
train_label['doc_id']=train_label['doc_id']+1
print train_map[:10]
print train_data[:10]
train_label

                     labels  label_id
0               alt.atheism         1
1             comp.graphics         2
2   comp.os.ms-windows.misc         3
3  comp.sys.ibm.pc.hardware         4
4     comp.sys.mac.hardware         5
5            comp.windows.x         6
6              misc.forsale         7
7                 rec.autos         8
8           rec.motorcycles         9
9        rec.sport.baseball        10
   doc_id  word_id  count
0       1        1      4
1       1        2      2
2       1        3     10
3       1        4      4
4       1        5      2
5       1        6      1
6       1        7      1
7       1        8      1
8       1        9      3
9       1       10      9

       doc_id  label_id
0           1         1
1           2         1
2           3         1
3           4         1
4           5         1
5           6         1
6           7         1
7           8         1
8           9         1
9          10         1
10         11         1
11         12         1
12         13         1
13         14         1
14         15         1
15         16         1
16         17         1
17         18         1
18         19         1
19         20         1
20         21         1
21         22         1
22         23         1
23         24         1
24         25         1
25         26         1
26         27         1
27         28         1
28         29         1
29         30         1
...       ...       ...
11239   11240        20
11240   11241        20
11241   11242        20
11242   11243        20
11243   11244        20
11244   11245        20
11245   11246        20
11246   11247        20
11247   11248        20
11248   11249        20
11249   11250        20
11250   11251        20
11251   11252        20
11252   11253        20
11253   11254        20
11254   11255        20
11255   11256        20
11256   11257        20
11257   11258        20
11258   11259        20
11259   11260        20
11260   11261        20
11261   11262        20
11262   11263        20
11263   11264        20
11264   11265        20
11265   11266        20
11266   11267        20
11267   11268        20
11268   11269        20

[11269 rows x 2 columns]

# Merge Training Data Tables

In [3]:
train_data_joined = pd.merge( train_label, train_data, on='doc_id', how="inner")
train_data_joined.head(5)

   doc_id  label_id  word_id  count
0       1         1        1      4
1       1         1        2      2
2       1         1        3     10
3       1         1        4      4
4       1         1        5      2

# Get Total Doc Count & Docs Per Class

In [4]:
#Get total document count by searching the unique values, this could also be done by taking max of the ID 
total_doc_count= train_data_joined['doc_id'].unique().shape
# Count number of docs for each class
docs_per_class=train_data_joined.groupby('label_id').doc_id.nunique()

# Calculate Pi for Classes

In [5]:
# Calculate Pi for Each Class, this is the number of documents in a class/total number of docs
df_docs_frac_per_class=np.log(train_data_joined.groupby('label_id').doc_id.nunique()/total_doc_count)
pi_values=df_docs_frac_per_class.reset_index()
pi_values.columns=['label_id','log_pi']
#pi_values

# Calculate Total Words Per Label

In [6]:
words_per_class=train_data_joined[['label_id','count']].groupby('label_id').sum().reset_index()
words_per_class.columns=['label_id','words_per_label']
#words_per_class

# Calculate Total Words Per Doc

In [7]:
sum_words_per_doc=train_data_joined.groupby(['label_id','word_id'])['count'].sum().reset_index()
sum_words_per_doc.head(5)

   label_id  word_id  count
0         1        1     13
1         1        2     63
2         1        3    275
3         1        4      9
4         1        5     82

# Set Up Training Data Probability Distribution (Pj)

# SACHIN: THIS IS WHERE I'M HAVING ISSUES, I NEED TO THE PANDAS DATAFRAME UNSTACKED AND THE REST SHOULD WORK

In [58]:
#count of a specific word in the same class/total number of words in each class
#Alpha value for smoothing
a = 0.001

#Calculate probability of each word based on the class

pb_j=train_data_joined.groupby('label_id')
pb_ij=train_data_joined[['label_id','word_id','count']].groupby(['label_id','word_id'])
prob_distr =  (pb_ij['count'].sum() + 1) / (pb_j['count'].sum() + 61188) 
prob_distr.unstack()

#add one for all of the null values as (1/count+V+1)
for c in range(1,21):
    prob_distr.loc[c,:] = prob_distr.loc[c,:].fillna(a/(pb_j['count'].sum()[c] + 16689))
    
#Convert to dictionary for greater speed
prob_distr_dict = prob_distr.to_dict()

#prob_distr=prob_distr.reset_index()
x=prob_distr.unstack
x
###### I NEED X AS IT IS HERE Reindexed, But I cant save the instance Method

<bound method Series.unstack of label_id  word_id
1         1          0.000067
          2          0.000305
          3          0.001314
          4          0.000048
          5          0.000395
          6          0.000200
          7          0.000033
          8          0.000010
          9          0.000167
          10         0.000671
          11         0.000019
          12         0.019443
          13         0.000081
          14         0.000090
          15         0.000200
          16         0.002662
          17         0.001057
          18         0.000052
          19         0.000038
          20         0.000057
          21         0.000010
          22         0.000010
          23         0.012990
          24         0.000019
          25         0.001452
          26         0.000010
          27         0.006152
          28         0.000081
          29         0.034114
          30         0.012800
                       ...
20        53946      0.000011
          53947      0.000011
          53948      0.000017
          53949      0.000022
          53950      0.000011
          53951      0.000011
          53952      0.000011
          53953      0.000011
          53954      0.000011
          53955      0.000011
          53956      0.000017
          53957      0.000017
          53958      0.000039
          53959      0.000011
          53960      0.000011
          53961      0.000017
          53962      0.000011
          53963      0.000017
          53964      0.000011
          53965      0.000017
          53966      0.000011
          53967      0.000011
          53968      0.000017
          53969      0.000011
          53970      0.000011
          53971      0.000011
          53972      0.000011
          53973      0.000011
          53974      0.000011
          53975      0.000011
Name: count, dtype: float64>

# Import Test Data

In [17]:
test_map = pd.read_csv('test.map', header = None, delimiter=' ', names= ['test_labels', 'test_label_id'])
test_data = pd.read_csv('test.data', header = None, delimiter=' ', names=['test_doc_id', 'test_word_id', 'test_count'] )
test_label = pd.read_csv('test.label', header = None, delimiter=' ', names= ['test_label_id'])
test_label=test_label.reset_index()
test_label.columns = ['test_doc_id', 'label_id']
print test_map.head(5)
print test_data.head(5)
test_label.head(5)

                test_labels  test_label_id
0               alt.atheism              1
1             comp.graphics              2
2   comp.os.ms-windows.misc              3
3  comp.sys.ibm.pc.hardware              4
4     comp.sys.mac.hardware              5
   test_doc_id  test_word_id  test_count
0            1             3           1
1            1            10           1
2            1            12           8
3            1            17           1
4            1            23           8

   test_doc_id  label_id
0            0         1
1            1         1
2            2         1
3            3         1
4            4         1

# Merge Test Data

In [18]:
#test_label['test_doc_id']=test_label['test_doc_id']
merged_test_data = pd.merge( test_label, test_data, on='test_doc_id', how="inner")
merged_test_data.head(5)

   test_doc_id  label_id  test_word_id  test_count
0            1         1             3           1
1            1         1            10           1
2            1         1            12           8
3            1         1            17           1
4            1         1            23           8

# Probability of Training Data

# Get Single Test Document for Testing

In [29]:
df=merged_test_data.loc[merged_test_data['test_doc_id']==1];
df.columns = df.columns.str.replace('test_word_id','word_id')
#sum_words_per_doc=df.groupby(['word_id','doc_id'])['count'].sum().reset_index()
sum_words_per_doc.head(5)
df.head(5)

   test_doc_id  label_id  word_id  test_count
0            1         1        3           1
1            1         1       10           1
2            1         1       12           8
3            1         1       17           1
4            1         1       23           8

# Setup Bayesian Algorithm: Map Probability for a Doc that Belongs to Each Class
#1) Match on Doc ID, #2 Pull Out Label ID, Probability Word Belongs to that class, and count of word occurence in document; sort by word ID so you can see the map of each word mapping to each class #3 multiply words to get prior probability #4 sum prior probability over each class (it can be added due to the log). #5 raname so that ID's line up and pie values for each class can be multiplied #6 add up the pi with the prior prob, can add because of the log values #7 Answer gives the probability that the document belongs to each class
#Log(Probability(word/class)^N,words)summed

In [161]:
single_doc_dist= pd.merge(prob_distr,df, on='word_id')
single_doc_dist= single_doc_dist[['label_id_x','word_id','log(prob)','test_count']].sort_values(['word_id','label_id_x'])
single_doc_dist ['prior_prob']= single_doc_dist['test_count']*single_doc_dist['log(prob)']
single_doc_dist=single_doc_dist.groupby(['label_id_x'])['prior_prob'].sum().round(3).reset_index()
single_doc_dist.columns=['label_id','prior_prob']
single_doc_dist = pd.merge (single_doc_dist,pi_values, on='label_id' )
single_doc_dist['probability']=single_doc_dist['prior_prob']+single_doc_dist['log_pi']
single_doc_dist

    label_id  prior_prob    log_pi  probability
0          1   -1853.773 -3.156025 -1856.929025
1          2   -1715.544 -2.965060 -1718.509060
2          3   -1654.120 -2.980672 -1657.100672
3          4   -1615.027 -2.954786 -1617.981786
4          5   -1572.423 -2.975441 -1575.398441
5          6   -1725.146 -2.946304 -1728.092304
6          7   -1694.801 -2.963340 -1697.764340
7          8   -1643.030 -2.946304 -1645.976304
8          9   -1727.398 -2.939570 -1730.337570
9         10   -1641.044 -2.942932 -1643.986932
10        11   -1732.656 -2.936220 -1735.592220
11        12   -1774.767 -2.942932 -1777.709932
12        13   -1609.827 -2.947995 -1612.774995
13        14   -1777.297 -2.942932 -1780.239932
14        15   -1712.780 -2.944616 -1715.724616
15        16   -1732.094 -2.934549 -1735.028549
16        17   -1774.203 -3.029025 -1777.232025
17        18   -1870.161 -2.994757 -1873.155757
18        19   -1739.753 -3.189926 -1742.942926
19        20   -1780.198 -3.400222 -1783.598222

In [123]:
single_doc_dist['probability'].idxmax()+1

5

# Setup Function to Classify One Document

In [162]:
def SingleDoc_NaiveBayesClassifier(doc):
    df=merged_test_data.loc[merged_test_data['test_doc_id']==doc];
    df.columns = df.columns.str.replace('test_word_id','word_id')
    ###### Copy below this line, above is for the function
    single_doc_dist= pd.merge(prob_distr,df, on='word_id')
    single_doc_dist= single_doc_dist[['label_id_x','word_id','log(prob)','test_count']].sort_values(['word_id','label_id_x'])
    single_doc_dist ['prior_prob']= single_doc_dist['test_count']*single_doc_dist['log(prob)']
    single_doc_dist=single_doc_dist.groupby(['label_id_x'])['prior_prob'].sum().round(3).reset_index()
    single_doc_dist.columns=['label_id','prior_prob']
    single_doc_dist = pd.merge (single_doc_dist,pi_values, on='label_id' )
    single_doc_dist['probability']=single_doc_dist['prior_prob']+single_doc_dist['log_pi']
    class_rating = single_doc_dist['probability'].idxmax()+1
    print class_rating
SingleDoc_NaiveBayesClassifier(2)

13

NoneType

# Setup New Classifier Function for All Words

In [40]:
#def SingleDoc_NaiveBayesClassifier(x):
df_all= merged_test_data.loc[merged_test_data['test_doc_id']==1];
df_all.columns = df_all.columns.str.replace('test_word_id','word_id')
all_doc_dist= pd.merge(prob_distr,df_all, on=['label_id','word_id'])
all_doc_dist= all_doc_dist[['label_id','word_id','log(prob)','test_count','test_doc_id']].sort_values(['word_id','label_id'])
all_doc_dist ['prior_prob']= all_doc_dist['test_count']*all_doc_dist['log(prob)']
all_doc_dist=all_doc_dist.groupby(['test_doc_id','label_id_x'])['prior_prob'].sum().reset_index()
all_doc_dist.columns=['test_doc_id','label_id','prior_prob']
all_doc_dist = pd.merge (all_doc_dist,pi_values, on='label_id' )
all_doc_dist['probability']=all_doc_dist['prior_prob']+all_doc_dist['log_pi']


#     classified_dataframe= all_doc_dist.sort_values('probability', ascending=False).groupby('test_doc_id', as_index=False).first()
#     classified_dataframe= classified_dataframe[['test_doc_id','label_id']]
#     return classified_dataframe
# classified_dataframe=SingleDoc_NaiveBayesClassifier(merged_test_data)
# print classified_dataframe

        label_id  word_id     count
0              1        1  0.000067
1              1        2  0.000305
2              1        3  0.001314
3              1        4  0.000048
4              1        5  0.000395
5              1        6  0.000200
6              1        7  0.000033
7              1        8  0.000010
8              1        9  0.000167
9              1       10  0.000671
10             1       11  0.000019
11             1       12  0.019443
12             1       13  0.000081
13             1       14  0.000090
14             1       15  0.000200
15             1       16  0.002662
16             1       17  0.001057
17             1       18  0.000052
18             1       19  0.000038
19             1       20  0.000057
20             1       21  0.000010
21             1       22  0.000010
22             1       23  0.012990
23             1       24  0.000019
24             1       25  0.001452
25             1       26  0.000010
26             1       27  0.006152
27             1       28  0.000081
28             1       29  0.034114
29             1       30  0.012800
...          ...      ...       ...
200748        20    53946  0.000011
200749        20    53947  0.000011
200750        20    53948  0.000017
200751        20    53949  0.000022
200752        20    53950  0.000011
200753        20    53951  0.000011
200754        20    53952  0.000011
200755        20    53953  0.000011
200756        20    53954  0.000011
200757        20    53955  0.000011
200758        20    53956  0.000017
200759        20    53957  0.000017
200760        20    53958  0.000039
200761        20    53959  0.000011
200762        20    53960  0.000011
200763        20    53961  0.000017
200764        20    53962  0.000011
200765        20    53963  0.000017
200766        20    53964  0.000011
200767        20    53965  0.000017
200768        20    53966  0.000011
200769        20    53967  0.000011
200770        20    53968  0.000017
200771        20    53969  0.000011
200772        20    53970  0.000011
200773        20    53971  0.000011
200774        20    53972  0.000011
200775        20    53973  0.000011
200776        20    53974  0.000011
200777        20    53975  0.000011

[200778 rows x 3 columns]

In [32]:
prob_distr

        label_id  word_id     count
0              1        1  0.000067
1              1        2  0.000305
2              1        3  0.001314
3              1        4  0.000048
4              1        5  0.000395
5              1        6  0.000200
6              1        7  0.000033
7              1        8  0.000010
8              1        9  0.000167
9              1       10  0.000671
10             1       11  0.000019
11             1       12  0.019443
12             1       13  0.000081
13             1       14  0.000090
14             1       15  0.000200
15             1       16  0.002662
16             1       17  0.001057
17             1       18  0.000052
18             1       19  0.000038
19             1       20  0.000057
20             1       21  0.000010
21             1       22  0.000010
22             1       23  0.012990
23             1       24  0.000019
24             1       25  0.001452
25             1       26  0.000010
26             1       27  0.006152
27             1       28  0.000081
28             1       29  0.034114
29             1       30  0.012800
...          ...      ...       ...
200748        20    53946  0.000011
200749        20    53947  0.000011
200750        20    53948  0.000017
200751        20    53949  0.000022
200752        20    53950  0.000011
200753        20    53951  0.000011
200754        20    53952  0.000011
200755        20    53953  0.000011
200756        20    53954  0.000011
200757        20    53955  0.000011
200758        20    53956  0.000017
200759        20    53957  0.000017
200760        20    53958  0.000039
200761        20    53959  0.000011
200762        20    53960  0.000011
200763        20    53961  0.000017
200764        20    53962  0.000011
200765        20    53963  0.000017
200766        20    53964  0.000011
200767        20    53965  0.000017
200768        20    53966  0.000011
200769        20    53967  0.000011
200770        20    53968  0.000017
200771        20    53969  0.000011
200772        20    53970  0.000011
200773        20    53971  0.000011
200774        20    53972  0.000011
200775        20    53973  0.000011
200776        20    53974  0.000011
200777        20    53975  0.000011

[200778 rows x 3 columns]

# Test Accuracy of Classifier

In [246]:
test_label.columns = ['doc_id', 'test_label_id']
classified_dataframe.columns = ['doc_id', 'predicted_label_id']
guess_to_real= pd.merge(classified_dataframe,test_label, on='doc_id')
guess_to_real= pd.merge()

In [247]:
guess_to_real

      doc_id  predicted_label_id  test_label_id
0          1                   5              1
1          2                  13              1
2          3                   5              1
3          4                   3              1
4          5                   5              1
5          6                   5              1
6          7                  11              1
7          8                   7              1
8          9                   6              1
9         10                   5              1
10        11                  11              1
11        12                   5              1
12        13                   5              1
13        14                   5              1
14        15                   5              1
15        16                  13              1
16        17                  13              1
17        18                   5              1
18        19                  10              1
19        20                  10              1
20        21                  13              1
21        22                  20              1
22        23                   3              1
23        24                   4              1
24        25                   3              1
25        26                  11              1
26        27                   2              1
27        28                   5              1
28        29                   5              1
29        30                   3              1
...      ...                 ...            ...
7474    7475                  13             20
7475    7476                  13             20
7476    7477                   7             20
7477    7478                   6             20
7478    7479                   5             20
7479    7480                   4             20
7480    7481                   5             20
7481    7482                   8             20
7482    7483                   3             20
7483    7484                  12             20
7484    7485                   9             20
7485    7486                   5             20
7486    7487                   6             20
7487    7488                   5             20
7488    7489                  13             20
7489    7490                   4             20
7490    7491                   5             20
7491    7492                   5             20
7492    7493                   9             20
7493    7494                   5             20
7494    7495                  10             20
7495    7496                   3             20
7496    7497                   5             20
7497    7498                   7             20
7498    7499                  10             20
7499    7500                   5             20
7500    7501                   5             20
7501    7502                  13             20
7502    7503                   6             20
7503    7504                   7             20

[7504 rows x 3 columns]